.MediaLibrary-ContentPanel {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1E1E1E;
    position: relative;
    z-index: 1;
}

.MediaLibrary-ContentPanel > div {
    width: 100%;
    position: absolute;
    padding-left: 30px;
    padding-right: 20px;
}

.MediaLibrary-ContentPanel:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    z-index: -1;
    background-color: #1E1E1E;
}

.alert strong {
    font-size: 150%;
    line-height: 200%;
}
