.App-header {
    background-color: #222;
    color: white;
}

html, body {
    height: 100%;
    background-color: #222;
}

body {
    padding-top: 52px;
}

body, button.list-group-item {
    background-color: #333333;
    color: white;
}
.list-group {
    margin-bottom: 0;
}
.list-group-item {
    outline: none;
}

button.list-group-item {
    background-color: #252526;
    border-color: transparent;
}
button.list-group-item:hover {
    background-color: #2A2D2E;
    color: white;
}
button.list-group-item.active, button.list-group-item.active:hover {
    background-image: none;
    border-color: transparent;
    background-color: #3F3F46;
}
button.list-group-item.active:focus {
    background-image: none;
    border-color: transparent;
    background-color: #134971;
}

@media (min-width: 768px) {
    .container > .navbar-header {
        margin-left: 15px;
        margin-right: 15px;
        float: initial;
    }
}

.navbar {
    margin-bottom: 0;
}
.nav-tabs {
    border: none;
}
.nav-tabs > li > a {
    color: white;
    border: none;
}
.nav-tabs > li > a:hover {
    background-color: #7b7b7b;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #252526;
    color: white;
    border: none;
}

.label {
    border: transparent solid 1px;

}
.label-info {
    background-color: #134971;
    border-color: white;
}

.panel {
    color: white;
    background-color: transparent;
}

.panel-danger, .panel-danger > .panel-heading {
    border-color: #ce4c48;
}

.panel-danger > .panel-heading {
    background-image: none;
    background-color: #ce4c48;
    color: white;
}

.alert-danger {
    background-image: none;
    background-color: rgba(140, 28, 28, 0.6);
    border-color: rgba(140, 28, 28, 0.6);
    color: white;
    box-shadow: none;
}

pre {
    background-color: rgba(81, 81, 81, 0.5);
    border-color: transparent;
    color: white;
}

.btn-group.btn-group-xs > button {
    background-color: #777;
    border-color: #777;
    color: white;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    font-weight: bold;
}

.btn-group-info.btn-group-xs > button {
    background-color: #134971;
    border-color: #134971;
}

button.btn-danger {
    background-color: #ce4c48;
    border-color: #ce4c48;
    color: white;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    font-weight: bold;
}